@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello Omkar </h1>
    <p>how are you <a href="PARTY KABHI DEGA ?>building Web apps with ASP.NET Core</a>.</p>
</div>
